:root {
    /* Colors */
    --primary-color: #395B64;
    --secondary-color: #A5C9CA;
    --dark-color: #2C3333;
    --lite-color: #E7F6F2;
}

* {
    margin: 0;
    padding: 0;
    /*
    outline: 0; ---
    box-sizing: border-box; ---
    border: none; 
    */
    text-decoration: none;
    scroll-behavior: smooth;
}

body {}

.container {
    background: var(--primary-color);
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

nav h2 {
    font-size: 2rem;
}

nav a {
    color: #000;
}

.logo {
    font-family: "Sacramento";
    cursor: pointer;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 20%;
    cursor: pointer;
}

.navigation :hover {
    color: var(--secondary-color);
    transition: 0.7s ease;
}

/* START Form */
form {
    display: flex;
    align-items: center;
}

.form-container {
    width: 90%;
    text-align: center;
    margin: auto;
}

form div {
    padding: 1%;
}

.name {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 50%;
}

.email {
    margin: auto;
    width: 50%;
}

.massage {
    margin: auto;
    width: 50%;
    height: 250px;
}

.send {
    display: inline-block;
    padding: 0.6rem 3rem;
    background: var(--secondary-color);
    font-weight: 500;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.send:hover {
    opacity: 0.8;
}

input,
textarea,
button {
    border-radius: 2rem;
    background: var(--lite-color);
    font-size: 15px;
    padding: 1rem;
    border: none;
}

/* END Form */

footer {
    background: var(--lite-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    padding: 1rem;
    font-size: 1.2rem;
    flex-direction: column;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    width: 7%;
}

.footer-icons a {
    color: #000;
}

/* END Footer */