:root {
    /* Colors */
    --primary-color: #395B64;
    --secondary-color: #A5C9CA;
    --dark-color: #2C3333;
    --lite-color: #E7F6F2;

    /* Box Model */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    ---card-padding: 1rem;
}

::-webkit-scrollbar {
    width: 0;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: "serif";
    overflow-x: hidden;
}

.container {
    background: var(--primary-color);
}

/* START Navigation Section */
nav {
    Padding-top: 1.2%;
    display: flex;
    width: 92%;
    margin: auto;
    justify-content: space-between;
}

nav h2 {
    font-size: 2rem;
    font-family: "Sacramento";
    cursor: pointer;
}

nav a {
    color: #000;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 20%;
    cursor: pointer;
}

.navigation :hover {
    color: var(--secondary-color);
    transition: 0.7s ease;
}

nav .active {
    color: var(--secondary-color);
}

/* END Navigation Section */

/* START Form */

.form-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1em;
    width: 40%;
    margin: auto;
    padding: 8%;
}

.name {
    display: flex;
    justify-content: space-between;
}

.massage {
    height: 20em;
}

.send {
    background: var(--secondary-color);
    width: 25%;
    margin: auto;
}

.send:hover {
    opacity: 0.8;
}

input,
textarea,
button {
    padding: var(--search-padding);
    border-radius: var(--border-radius);
    background: var(--lite-color);
}

/* 
input,
textarea,
button:focus {} 
*/

/* END Form */

/* START Footer */

footer {
    background: var(--lite-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    font-size: 110%;
    flex-direction: column;
    height: 3em;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    width: 7%;
}

.footer-icons a {
    color: #000;
}

footer p {
    color: #8f8f8f;
}


/* END Footer */