:root {
    /* Colors */
    --primary-color: rgb(34, 110, 147, 1);
    --secondary-color: #0a49f6;
    --links: #3a6cf4;
    --lite-color: #E7F6F2;
    /* color:  */

    --shadow: 0 5px 25px rgb(1 1 1 / 15%);


    /* Box Model */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    ---card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: "serif";
    overflow-x: hidden;
}

/* Start general CSS */

a {
    cursor: pointer;
}

/* End general CSS */

/* Start header */
header {
    Padding: 1rem;
    box-shadow: var(--shadow);
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 100;
}

header .container {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #000;
    font-family: "lato";
    font-weight: 300;
}

header h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

header .container i {
    display: none;
}

nav {
    width: 12%;
}


nav ul.navigations {
    display: flex;
    justify-content: space-between;

}

nav ul li {
    list-style: none;
}

nav a,
header .container i {
    transition: 0.5s ease;
}

nav a:hover,
header .container i:hover {
    color: var(--links);
}

/* END header */


/* START Footer */

footer {
    background: var(--primary-color);
    padding: 2rem;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    flex-direction: column;
    height: fit-content;
    gap: 1rem;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    width: 4%;
}

.footer-icons a {
    color: #000;
}

footer p {
    color: #000;
}

/* END Footer */