:root {
    /* Colors */
    --primary-color: rgb(34, 110, 147, 1);
    --secondary-color: #0a49f6;
    --links: #3a6cf4;
    --lite-color: #E7F6F2;
    /* color:  */


    /* Box Model */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    ---card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

::-webkit-scrollbar {
    width: 0;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: "serif";
    overflow-x: hidden;
}

/* Start general CSS */

a {
    cursor: pointer;
}

/* End general CSS */

/* Start header */
header {
    Padding: 1rem;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 999;
}

header .container {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

header a {
    color: #000;
    font-family: "lato";
    font-weight: 300;
}

header h2 {
    font-size: 1.5rem;
    font-family: "lato";
    font-weight: 300;
}

nav {
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

nav a {
    transition: 0.7s ease;
}

nav a:hover {
    color: var(--links);
}

/* END header */

/* Main Section */
#main-section {
    min-height: 100vh;
    background: #fff;
}

/* .main-container {} */

.titl {
    Padding: 13rem 5rem;
}

.name {
    color: var(--primary-color);
    font-weight: 300;
    font-size: 2rem;
}

.jop-name {
    font-family: "Sacramento";
    color: var(--primary-color);
    font-weight: 200;
    font-size: 3rem;
    padding-top: 2rem;
}

.main-container img {
    width: 32rem;
    height: 20rem;
    position: absolute;
    right: 5rem;
    top: 13rem;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
}

.quotes {
    text-align: left;
    font-size: 1.25rem;
    color: #000;
    Padding: 2rem;
}

/* START Skills Section */
#skills-section {
    background: #f0f0f0;
    Padding: 3rem;
}

.skills-container {
    width: 80%;
    margin: auto;
}

.skills-container h3 {
    text-align: center;
    padding-bottom: 4rem;
    font-size: 2rem;
}

.skills-icons {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    gap: 2rem;
}

/* END Skills Section */


/* START Info Section */

#info-section {
    background: var(--primary-color);
    Padding: 1.5rem;
}

/* .info-container {} */

.info-container a {
    transition: 0.7s ease;
    color: #000;
    font-style: italic;
}

.info-container a:hover {
    color: #fff;
}

/* END Info Section */


/* START Projects Section */

#projects-section {
    background: #f0f0f0;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.projects-container {
    width: 80%;
    margin: auto;
}

.projects-container h3 {
    text-align: center;
    padding-bottom: 4rem;
    font-size: 2rem;
}

.projects-container .cards {
    text-align: center;
    margin: auto;
    width: 80%;
}

.projects-container .card {
    border-radius: var(--card-border-radius);
    background: #fff;
    width: 15rem;
    height: 20rem;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    transition: 0.7s ease;
    margin: auto;
}

.projects-container .card:hover {
    transform: scale(1.1);
}

.projects-container .card img {
    width: 15rem;
    height: 10rem;
    border-radius: var(--card-border-radius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.projects-container .card .info {
    text-align: center;
    padding: 1rem;
}

.projects-container .card h4 {
    color: #000;
    transition: 0.7s ease;
    display: inline-block;
}

.projects-container .card h4:hover {
    color: var(--links);
}

.projects-container .card p {
    padding-top: 1.5rem;
}

/* END Projects Section */


/* START Footer */

footer {
    background: var(--primary-color);
    padding: 2rem;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    flex-direction: column;
    height: fit-content;
    gap: 1rem;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    width: 7%;
}

.footer-icons a {
    color: #000;
}

footer p {
    color: #000;
}

/* END Footer */

@media only screen and (max-width: 1200px) {
    /* Tablets [601px -> 1200px] */
}

@media only screen and (max-width: 600px) {
    /* Big Smartphones [426px -> 600px] */
}

@media only screen and (max-width: 425px) {
    /* Small Smartphones [325px -> 425px] */
}